@model List<BillingAndInvoiceSystem.Models.Invoice>

<h2>Admin Dashboard</h2>

<hr />

<!--  SUMMARY -->
<div class="row mb-4">
    <div class="col-md-3">
        <div class="card p-3">
            <h5>Total Invoices</h5>
            <h3>@ViewBag.TotalInvoices</h3>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card p-3">
            <h5>Total Revenue</h5>
            <h3>₹@ViewBag.TotalRevenue</h3>
        </div>
    </div>
</div>

<!--  FILTERS -->
<form method="get" class="row mb-4">

    <div class="col-md-3">
        <input type="text" name="search" class="form-control"
               placeholder="Search Customer / Invoice No"
               value="@Context.Request.Query["search"]" />
    </div>

    <div class="col-md-2">
        <input type="date" name="fromDate" class="form-control"
               value="@Context.Request.Query["fromDate"]" />
    </div>

    <div class="col-md-2">
        <input type="date" name="toDate" class="form-control"
               value="@Context.Request.Query["toDate"]" />
    </div>

    <div class="col-md-3">
        <select name="billerName" class="form-control">
            <option value="">All Staff</option>
            <option value="sahil" selected="@(Context.Request.Query["billerName"] == "sahil")">Sahil</option>
            <option value="ruturaj" selected="@(Context.Request.Query["billerName"] == "ruturaj")">Ruturaj</option>
        </select>
    </div>

    <div class="col-md-2">
        <button type="submit" class="btn btn-primary w-100">Filter</button>
    </div>

</form>

<!-- INVOICE TABLE -->
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Invoice No</th>
            <th>Customer</th>
            <th>Billed By</th>
            <th>Date</th>
            <th>Amount</th>
            <th>Action</th>

        </tr>
    </thead>

    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>@item.InvoiceNumber</td>
                    <td>@item.CustomerName</td>
                    <td>@item.BillerName</td>
                    <td>@item.Date.ToString("dd-MM-yyyy")</td>
                    <td>₹@item.FinalAmount</td>
                    <td>
                        <a asp-controller="Invoice"
                           asp-action="Details"
                           asp-route-id="@item.Id"
                           class="btn btn-sm btn-primary">
                            View
                        </a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="5" class="text-center">No data found</td>
            </tr>
        }
    </tbody>
</table>